<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XGScrollView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEF9F0C71D3342FB00D1144B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF9F0E01D3342FB00D1144B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEF9F0EB1D3342FB00D1144B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
